
.MainNav {
  text-align: center;
  /*padding-right: 1em;*/
}

@media(max-width:510px){
	#signup-btn {
		margin-right: 0px;
	}
}
@media(min-width:1200px){
	#signup-btn {
		margin-right: 100px;
	}
}

#login-btn {
	margin-top: -8px;
	margin-bottom: -5px;
	margin-right: -20px;
}

#signup-btn {
	margin-top: -8px;
	margin-bottom: -5px;
}

#signup-btn > a {
	color: white;
}